/* Quick fixes (may be temporary) */

table{
  width: 100%;
}

td{
  width: 100px;
}

.header img{
  width: 300px;
}

.header{
  text-align: center;
  margin: 10px 10px;
}

#last-rune-removed-name{
  margin-left: 5px;
}

#last-rune-removed-image{
  padding-bottom: 5px;
}

#rune-to-add-image{
  padding-bottom: 5px;
}

.card-text{
  text-align: justify;
}

/* Puit */

.puit-card{
  text-align: center;
  vertical-align : middle;
  height: 100%;
}

.puit-card h3{
  margin: 20px;
}

.puit-card span{
  font-size: 17px;
}

.card-subtext{
  font-size: 10px;
  font-style: italic;
  margin-bottom: 10px;
}

.card-text{
  text-align: justify;
}

.card-title{
  margin-bottom: 5px;
}

/* input image */

input.form-control-bg{
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30px 30px;
}

/* Autocomplete style */

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* scroll */
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete-category {
  font-weight: bold;
}