/* Quick fixes (may be temporary) */

table{
  width: 100%;
}

td{
  width: 100px;
}

.header img{
  width: 300px;
}

.header{
  text-align: center;
  margin: 10px 10px;
}

/* Spoiler style */

.spoiler {
  border: 1px solid #808080;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spoiler-toggle {
  cursor: default;
  padding: 2px;
  font-size: 12px;
  color: #808080;
}

.spoiler-text{
  margin-left: 5px;
  font-size: 12px;
}

/* Autocomplete style */

#container-rune-searching{
  display: block;
  position: relative;
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* scroll */
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-autocomplete-category {
  font-weight: bold;
}